<!-- header
text box - username
text box - password
submit button - sends form -->

<h1>New User</h1>
<br>
<form action="<%= users_url %>" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[username]" value="<%= @user.username %>"/>
  <br><br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" value=""/>
  <br><br>

  <% submit_text = "Create New User" %>
  <input type="submit" value="<%= submit_text %>"/>
</form>